.div{
    width: 85%;
    margin: 0;
}
.fecha{
    border: 2px solid black;
}
.borde{
    border: 1px solid black;
}
.tam2{
    width: 90%;
}
.fecha2{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.sigue{
    width: 82%;
}
.sin-borde{
    border: none;
}
.borde-abajo{
    border-bottom: 1px solid black;
    border-right: none;
    border-top: none;
    border-left: none;
}
.gris{
    background: #6b646b;
    color: white;
}
.tam{
    width: 82%;
}
#coberturas{
    border: 0px;
    width: 90%;
}
.importante{
    width: 82%;
}
.cober,#acep, .decla{
    width: 82%;
}
.center{
    text-align: center;
}
.tb6{
    width: 96%;
}
.decla2{
    width: 96%;
}
.otro{
    width: 81%;
}
#tb2,#tb3,#tb4,#tb5{
    margin: 0;
    width: 96%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.fondo{
    background: #D2D7DB;
    padding-left:5px; margin-bottom: 2%; margin-top: 1%;
}
.left{
    text-align: right;
}
.wi{
    width: 30%;
}
#list{
    margin-bottom: 2%;
    width: 99%;
    border: 1px solid black;
    margin-top: 2%;
}
.list2{
    margin-bottom: 2%;
    width: 81%;
    border: 1px solid black;
    margin-top: 2%;
}
#oculto{
    overflow: hidden;
    height: 0;
}