.div{
    width: 80%;
    margin: 0;
}
.fecha{
    border: 2px solid black;
}
.fecha2{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.sin-borde{
    border: none;
}
.gris{
    background: #6b646b;
    color: white;
}
.tam{
    width: 75%;
}
#coberturas{
    border: 0px;
    width: 100%;
}
.center{
    text-align: center;
}
#tb2,#tb3,#tb4{
    margin: 0;
    width: 94%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.fondo{
    background: #D2D7DB;
}
.left{
    text-align: right;
}
.wi{
    width: 30%;
}
#list{
    margin-bottom: 2%;
    width: 94%;
    border: 1px solid black;
    margin-top: 2%;
}