<div id="contentToConvert">
  <div class="row">
    <div class="col-lg-8">
        <h2><b>INFORME DE MÉDICO TRATANTE</b></h2>
    </div>
    <div class="col-lg-4">
      <img id="imagen" src="../../../assets/logo.png">
    </div>
  </div>

    <div>
      <div id="border" style="background:#7F7F7F"> <h3 >DATOS DEL PACIENTE</h3> </div>
    </div>
    <br>

    <div class="row">
        <table id="tb_1">
            <tr class="bo">
              <td colspan="3"> <br><label class="margin">Nombre del paciente: </label><input type="text" size="40" id="NombrePaciente" name="NombrePaciente"><br><br> </td>
            </tr>
            <tr>
              <td class="bo"><br><label class="margin">Rut:</label><input type="text" size="35" id="Rut" name="Rut"><br><br> </td>
              <td class="bo"><br><label class="margin">Solicitud:</label><input type="text" size="35" id="Solicitud" name="Solicitud"><br><br> </td>
              <td class="bo"><br><label class="margin">Póliza:</label> <input type="text" size="35" name="poliza" id="Poliza" name="Poliza"><br><br> </td>
          </tr>
        </table>
      
        <table id="tb_2">
          <tr>
            <td>
                <b>  Favor de consignar todas las preguntas:</b>
                <br>
            </td>
          </tr>
          <tr>
            <td>
                <br>
                <label class="margin">Diagnóstico efectuado:</label> <input type="text"size="110" id="diag">
                <br>
            </td>
          </tr>
          <tr>
            <td>
                <br>
                <b>Fecha de primer diagnóstico de Obesidad (precisar día, mes y año): </b>
                <input type="text" size="50" id="fecha_diag_1">
                <input type="text" size="50" id="fecha_diag_2">
                <br>
            </td>
          </tr>
          <tr>
            <td>
                <br>
                <label class="margin">Método de diagnóstico: </label><input type="text" size="80" id="metodo_diag"><br>
            </td>
          </tr>
          <tr>
            <td>
                <br>
                <b>Indicar mes y año en que comienza a subir de peso: <input type="text" id="fecha_peso"></b><br>  
            </td>
          </tr>
          <tr>
            <td>
              <br>
              <label class="margin">Se trató con farmacos:</label>  
              Sí<input name="Si" type="checkbox" style="margin-left: 1%;"/>
              No <input name="No" type="checkbox" style="margin-left: 1%;"/>
              <label class="margin">Por cuanto tiempo:</label> <input type="text" id="tiempo"><br>
            </td>
          </tr>
          <tr>
            <td>
                <br>
              <b>Peso: <input type="text" id="peso">  Talla: <input type="text" id="talla">  IMC: <input type="text" id="imc">  </b><br>
            </td>
          </tr>
          <tr>
            <td>
                <br>
                <label class="margin">Tratamiento indicado o realizado:</label> <input type="text" size="110" id="tratamiento_1">
                <input type="text" size="110" id="tratamiento_2"><br>    
            </td>
          </tr>
          <tr>
            <td>
                <br>
                <b>Tiene alguna patología asociada al diagnóstico principal. (Indique patología y fecha de diagnóstico): 
                </b><br>
                <textarea id="patologia" rows="7" cols="110"></textarea><br><br>
            </td>
          </tr>
          <tr>
            <td>
                <br>
                <label class="margin"> El paciente condultó anteriormente, con otro profesional, por patología relacionada a la que se está tratando ahora:</label><br>
                Sí <input type="checkbox" name="si"/> No <input type="checkbox" name="no"><label class="margin">Fecha: </label><input type="text" size="40" id="fecha_consul"> <br>
            </td>
          </tr>
          <tr>         
            <td>
              <br>
              <label class="margin">Indique nombre y especialidad del médico que lo derivó:</label> <input type="text" size="90" id="med_deriv"> <br><br>
            </td>
          </tr>
        </table>
        <br>
        <table id="tb_3">
          <tr>
            <td colspan="3">
            <br><label class="margin">Nombre del médico: </label><input type="text" size="40" id="nom_medico"><br><br>
            <label class="margin">Inscripción número colegio:</label><input type="text" size="30" id="insNroCol"> <label class="margin"> Teléfono:</label> <input type="text" size="30" id="tlfn"><br><br>
            <label class="margin">Fecha del informe</label> <input type="text" size="35" id="fecha_informe"><br><br>
            </td>
            <td style="text-align:  center;">
              <input id="firma" type="text" size="15">
              <p align="center">Firma:</p>
            </td>
          </tr>
        </table>
    </div>
</div> 
<div class="mx-auto text-center mt-2" id="content" #content>   
    <button class="btn btn-primary" (click)="onClick()">Generar</button>  
</div>  