<div class="jumbotron" style="height: 800px;">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-secondary" style="float:right;" data-toggle="modal" data-target="#modalEdit">New</button>
        </div>
    </div>
    <div>
        <table class="table table-hover" style="margin-top: 2%;">
                <thead>
                    <tr class="table-light">
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Permiso</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="table-primary" *ngFor="let user of listUser">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.permiso }}</td>
                    <td>
                    <a (click)="editUser(user)">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a (click)="deleteUser(user._id)">
                        <i class="material-icons">delete</i>
                    </a>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Registro de usuario</h4>
                <button type="button" #closeBtn class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="bs-component" #registerForm="ngForm" style="margin-top: 2%;" (ngSubmit)="addUser(registerForm)">
                    <input type="hidden" name="_id"  [(ngModel)]="papers._id">
                    <div class="form-group col-lg-12">
                        <input type="text" class="form-control" name="name" [(ngModel)]="papers.name" placeholder="Ingrese su nombre">
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="text" class="form-control" name="email"  [(ngModel)]="papers.email" placeholder="Ingrese su email">
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="password" class="form-control" name="password" [(ngModel)]="papers.password" placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group col-lg-12">
                        <select class="form-control" id="permiso" name="permiso" [(ngModel)]="papers.permiso">
                                <option value="" disabled selected>Seleccione su opción</option>
                                <option value="Admin">Administrador</option>
                                <option value="normal">Normal</option>
                        </select>
                    </div>
                    <div class="bs-component mx-auto text-center">
                        <button class="btn btn-primary" style="margin-right: 2%;">Guardar</button>
                        <button class="btn btn-primary" (click)="resetForm(registerForm)">Limpiar</button>
                    </div>
                </form>
        </div>
    </div>
</div>
    

