<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Registro de usuario</h4>
                <button type="button" #closeBtn class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form class="bs-component" #registerForm="ngForm" style="margin-top: 2%;" (ngSubmit)="addUser(registerForm)">
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control" name="name" [(ngModel)]="userService.selectedUser.name" placeholder="Ingrese su nombre">
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control" name="email"  [(ngModel)]="userService.selectedUser.email" placeholder="Ingrese su email">
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="password" class="form-control" name="password" [(ngModel)]="userService.selectedUser.password" placeholder="Ingrese su contraseña">
                        </div>
                        <div class="form-group col-lg-12">
                            <select class="form-control" id="permiso" name="permiso" [(ngModel)]="userService.selectedUser.permiso">
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="Admin">Administrator</option>
                                    <option value="normal">Normal user</option>
                            </select>
                        </div>
                        <div class="bs-component mx-auto text-center">
                            <button class="btn btn-primary" style="margin-right: 2%;">Save</button>
                            <button class="btn btn-primary" (click)="resetForm(registerForm)">Clean</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>