<div class="jumbotron" style="height: 100%;">
  <h1>Informe medico tratante obesidad</h1>
  <form #form1Form="ngForm" class="bs-component" style="margin-top: 2%;" (ngSubmit)="addForm(form1Form)">
        <input type="hidden" name="usuario" #usuario="ngModel" [(ngModel)]="formService.selectedExoport1.usuario" value="5b62bd301eefb80c28e0ade4">
        <input type="hidden" name="file" #file="ngModel" [(ngModel)]="formService.selectedExoport1.file" value="Informe medico tratante obesidad">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="formService.selectedForm1._id">
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="NombrePaciente" #NombrePaciente="ngModel" [(ngModel)]="formService.selectedForm1.NombrePaciente" placeholder="Enter your Firtsname">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Rut" #Rut="ngModel" [(ngModel)]="formService.selectedForm1.Rut" placeholder="Enter your RUT">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Solicitud" #Solicitud="ngModel" [(ngModel)]="formService.selectedForm1.Solicitud" placeholder="Enter your request">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Poliza" #Poliza="ngModel" [(ngModel)]="formService.selectedForm1.Poliza" placeholder="Enter your Poliza">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Diagnostico" #Diagnostico="ngModel" [(ngModel)]="formService.selectedForm1.Diagnostico" placeholder="Enter your diagnosis made">
        </div>
        <div class="form-group col-lg-12">
            <label>Enter the date of the first diagnosis of obesity</label>
            <input type="date" class="form-control" name="fechaDiagnostico" #fechaDiagnostico="ngModel" [(ngModel)]="formService.selectedForm1.fechaDiagnostico">
        </div>
        <div class="form-group col-lg-12">
            <label>Enter the date of the first diagnosis of obesity</label>
            <input type="date" class="form-control" name="fechaDiagnostico" #fechaDiagnostico="ngModel" [(ngModel)]="formService.selectedForm1.fechaDiagnostico">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Metodo" #Metodo="ngModel" [(ngModel)]="formService.selectedForm1.Metodo" placeholder="Enter your diagnostic method">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="fechaPeso" #fechaPeso="ngModel" [(ngModel)]="formService.selectedForm1.fechaPeso" placeholder="Indicate month and year when you start to gain weight">
        </div>
        <div class="row col-lg-12">
          <div class="form-group col-lg-4 row">
            <div class="col-lg-8">
                <label>I was dealing with drugs:</label>
            </div>
            <div class="col-lg-4">
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input type="checkbox" class="form-control" name="Farmacos" #Farmacos="ngModel" [(ngModel)]="formService.selectedForm1.Farmacos">
                  Yes
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-8">
             <input type="text" class="form-control" name="Tiempo" #Tiempo="ngModel" [(ngModel)]="formService.selectedForm1.Tiempo" placeholder="for how longs">
          </div>
        </div>
        <div class="row col-lg-12">
          <div class="form-group col-lg-4">
            <input type="text" class="form-control" name="Peso" #Peso="ngModel" [(ngModel)]="formService.selectedForm1.Peso" placeholder="weight">       
          </div>
          <div class="form-group col-lg-4">
            <input type="text" class="form-control" name="Talla" #Talla="ngModel" [(ngModel)]="formService.selectedForm1.Talla" placeholder="size">       
          </div>
          <div class="form-group col-lg-4">
            <input type="text" class="form-control" name="IMC" #IMC="ngModel" [(ngModel)]="formService.selectedForm1.IMC" placeholder="IMC">       
          </div>
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Tratamiento" #Tratamiento="ngModel" [(ngModel)]="formService.selectedForm1.Tratamiento" placeholder="treatment performed">
        </div>
        <div class="bs-component mx-auto text-center">
            <button class="btn btn-primary" style="margin-right: 2%;" #addExport >Save</button>
            <button class="btn btn-primary" (click)="resetForm(userForm)">Clean</button>
        </div>
  </form>
</div>
