<div class="jumbotron" style="height: 100%;">
  <h1>Informe medico tratante obesidad</h1>
  <form #form1Form="ngForm" class="bs-component" style="margin-top: 2%;" (ngSubmit)="addForm(form1Form)">
        <input type="hidden" name="_id"  [(ngModel)]="papers._id">
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="NombrePaciente" [(ngModel)]="papers.NombrePaciente" placeholder="Ingrese nombre del paciente">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Rut"  [(ngModel)]="papers.Rut" placeholder="Ingrese su RUT">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Solicitud"  [(ngModel)]="papers.Solicitud" placeholder="Ingrese su solicitud">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Poliza"  [(ngModel)]="papers.Poliza" placeholder="Ingrese su Poliza">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Diagnostico" [(ngModel)]="papers.Diagnostico" placeholder="Ingrese su diagnóstico efectuado">
        </div>
        <div class="form-group col-lg-12">
            <label>Ingrese la fecha del primer diagnóstico de obesidad</label>
            <input type="date" class="form-control" name="fechaDiagnostico"  [(ngModel)]="papers.fechaDiagnostico" >
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Metodo" [(ngModel)]="papers.Metodo" placeholder="Ingrese su método de diagnóstico">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="fechaPeso" [(ngModel)]="papers.fechaPeso" placeholder="Indique el mes y el año en que comienza a aumentar de peso">
        </div>
        <div class="row col-lg-12">
          <div class="form-group col-lg-4 row">
            <div class="col-lg-8">
                <label>Se trato con farmacos:</label>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="Farmacos"  name="Farmacos" [(ngModel)]="papers.Farmacos" type="checkbox" (click)="ver()" >
                    <label class="custom-control-label" for="Farmacos">Si</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="Farmacos2"  name="Farmacos2" [(ngModel)]="papers.Farmacos2" type="checkbox" (click)="ver()">
                    <label class="custom-control-label" for="Farmacos2">No</label>
                  </div>
                </div>
            </div>
          </div>
          <div class="form-group col-lg-8">
             <input type="text" class="form-control" name="Tiempo" [(ngModel)]="papers.Tiempo" placeholder="Por cuanto tiempo?">
          </div>
        </div>
        <div class="row col-lg-12">
          <div class="form-group col-lg-4">
            <input type="text" class="form-control" name="Peso" [(ngModel)]="papers.Peso" placeholder="Peso">       
          </div>
          <div class="form-group col-lg-4">
            <input type="text" class="form-control" name="Talla" [(ngModel)]="papers.Talla" placeholder="Talla">       
          </div>
          <div class="form-group col-lg-4">
            <input type="text" class="form-control" name="IMC"  [(ngModel)]="papers.IMC" placeholder="IMC">       
          </div>
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="Tratamiento" [(ngModel)]="papers.Tratamiento" placeholder="Tratamiento realizado">
        </div>
        <div class="form-group col-lg-12">
            <textarea type="text" class="form-control" name="patologia" [(ngModel)]="papers.patologia"placeholder="Tiene alguna patología asociada al diagnóstico principal. (Indique patología y fecha de diagnóstico)"></textarea>
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-10">
              <label>El paciente consultó anteriormente, con otro profesional, por patología relacionada a la que se está tratando ahora:</label>
          </div>
          <br>
          <div class="form-group col-lg-12 row">
            <div class="col-lg-2">
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="customCheck1" name="consulto" [(ngModel)]="papers.consulto" type="checkbox" (click)="ver2()">
                    <label class="custom-control-label" for="customCheck1">Si</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="customCheck2" name="consult2" [(ngModel)]="papers.consulto2" type="checkbox" (click)="ver2()">
                    <label class="custom-control-label" for="customCheck2">No</label>
                  </div>
                </div>
            </div>
            <div class="form-group col-lg-8">
                <label>Ingrese la fecha del primer diagnóstico de obesidad</label>
                <input type="date" class="form-control" name="fecha_consul" [(ngModel)]="papers.fecha_consul">
            </div>
          </div>
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="med_deriv" [(ngModel)]="papers.med_deriv"  placeholder="Indique nombre y especialidad del médico que lo derivó">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="nom_medico" [(ngModel)]="papers.nom_medico"  placeholder="Nombre del médico">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="insNroCol" [(ngModel)]="papers.insNroCol"  placeholder="Inscripción número colegio">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control" name="tlfn" [(ngModel)]="papers.tlfn"  placeholder="Teléfono">
        </div>
        <div class="form-group col-lg-12">
            <label>Fecha del informe</label>
            <input type="date" class="form-control" name="fecha_informe" [(ngModel)]="papers.fecha_informe"  placeholder="Teléfono">
        </div>
        <div id="oculto">
          <div id="contentToConvert" >
            <div class="row div">
              <div class="col-lg-8 div">
                  <h2><b>INFORME DE MÉDICO TRATANTE</b></h2>
              </div>
              <div class="col-lg-4">
                <img id="imagen" src="../../../assets/logo.png">
              </div>
            </div>
            <div class="div">
                <div id="border" class="div" style="background:#7F7F7F"> <h3 >DATOS DEL PACIENTE</h3> </div>
            </div>
            <br>
            <div class="row div">
              <table id="tb_1">
                  <tr>
                    <td colspan="3"><label class="margin"><br>Nombre del paciente: </label><input type="text" size="40" id="NombrePaciente" name="NombrePaciente" [(ngModel)]="papers.NombrePaciente"><br><br> </td>
                  </tr>
                  <tr  >
                    <td style="border-top: 2px solid black;" class="dere"><br><label class="margin">Rut:</label> <input type="text" size="35" id="Rut" name="Rut" [(ngModel)]="papers.Rut"><br><br> </td>
                    <td style="border-top: 2px solid black;" class="dere"><br><label class="margin">Solicitud:</label><input type="text" size="35" id="Solicitud" name="Solicitud" [(ngModel)]="papers.Solicitud"><br><br> </td>
                    <td style="border-top: 2px solid black;"><br><label class="margin">Póliza:</label> <input type="text" size="35" name="poliza" id="Poliza" name="Poliza" [(ngModel)]="papers.Poliza"><br><br> </td>
                </tr>
              </table>
              <table id="tb_2">
                <tr>
                    <td>
                        <b>  Favor de consignar todas las preguntas:</b>
                        <br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <br>
                      <label class="margin">Diagnóstico efectuado: </label><input type="text"size="110" id="diag" name="Diagnostico" [(ngModel)]="papers.Diagnostico">
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <br>
                        <b>Fecha de primer diagnóstico de Obesidad (precisar día, mes y año): </b>
                        <input type="text" size="50" id="fecha_diag_1" name="fechaDiagnostico" [(ngModel)]="papers.fechaDiagnostico">
                        <br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <br>
                        <label class="margin">Método de diagnóstico:</label> <input type="text" size="80" id="metodo_diag" name="Metodo" [(ngModel)]="papers.Metodo"><br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <br>
                        <b>Indicar mes y año en que comienza a subir de peso: <input type="text" id="fecha_peso" name="fechaPeso" [(ngModel)]="papers.fechaPeso"></b><br>  
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <br>
                      <label class="margin">Se trató con farmacos: </label> 
                      Sí<input type="checkbox" style="margin-left: 1%;" name="Farmacos" [(ngModel)]="papers.Farmacos"/> 
                      No<input type="checkbox" style="margin-left: 1%;" name="Farmacos2" [(ngModel)]="papers.Farmacos2"/> 
                      <label class="margin">Por cuanto tiempo:</label> <input type="text" id="tiempo" name="Tiempo" [(ngModel)]="papers.Tiempo"><br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <br>
                      <b>Peso: <input type="text" id="peso" name="Peso" [(ngModel)]="papers.Peso">  Talla: <input type="text" id="talla" name="Talla" [(ngModel)]="papers.Talla">  IMC: <input type="text" id="imc" name="IMC" [(ngModel)]="papers.IMC">  </b><br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <br>
                        <label class="margin">Tratamiento indicado o realizado:</label> <input type="text" size="110" id="tratamiento_1" name="tratamiento" [(ngModel)]="papers.Tratamiento">
                        <br>    
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <br>
                        <b>Tiene alguna patología asociada al diagnóstico principal. (Indique patología y fecha de diagnóstico): 
                        </b><br>
                        <textarea id="patologia" rows="7" cols="110" name="patologia" [(ngModel)]="papers.patologia"></textarea><br><br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <br>
                        <label class="margin"> El paciente consultó anteriormente, con otro profesional, por patología relacionada a la que se está tratando ahora:</label><br>
                        Sí <input type="checkbox" name="consulto" [(ngModel)]="papers.consulto"/> No <input type="checkbox" name="consulto2" [(ngModel)]="papers.consulto2"/>
                        <label class="margin">Fecha: </label><input type="text" size="40" id="fecha_consul" name="fecha_consul" [(ngModel)]="papers.fecha_consul"> <br>
                        
                    </td>
                  </tr>
                  <tr>         
                    <td>
                      <br>
                      <label class="margin"> Indique nombre y especialidad del médico que lo derivó: </label><input type="text" size="90" id="med_deriv" name="med_deriv" [(ngModel)]="papers.med_deriv">  <br><br>
                    </td>
                  </tr>
              </table>
              <br>
              <table id="tb_3">
                  <tr>
                    <td colspan="3">
                    <br><label class="margin">Nombre del médico:</label> <input type="text" size="40" id="nom_medico" name="nom_medico" [(ngModel)]="papers.nom_medico"><br><br>
                    <label class="margin">Inscripción número colegio: </label><input type="text" size="30" id="insNroCol" name="insNroCol" [(ngModel)]="papers.insNroCol"> <label class="margin">  Teléfono: </label><input type="text" size="30" id="tlfn" name="tlfn" [(ngModel)]="papers.tlfn"><br><br>
                    <label class="margin">Fecha del informe: </label><input type="text" size="35" id="fecha_informe" name="fecha_informe" [(ngModel)]="papers.fecha_informe"><br><br>
                    </td>
                    <td style="text-align:  center;">
                      <input id="firma" type="text" size="15">
                      <p align="center">Firma:</p>
                    </td>
                  </tr>
                </table>
            </div>
          </div> 
        </div>
        <div class="bs-component mx-auto text-center" id="content" #content>
            <button class="btn btn-primary" style="margin-right: 2%;">Save</button>
            <button class="btn btn-primary" (click)="resetForm(form1Form)">Clean</button>
        </div>
  </form>
</div>


