<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Elija un formulario</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (submit)="OnSubmitFormulario()">
      <div class="form-group">
        <label for="dateOfBirth">Form</label>
        <div class="input-group">
          <select class="form-control" id="form" name="form" id="form" [(ngModel)]="form">
            <option value="" disabled selected>Seleccione su opción</option>
            <option value="Formulario1">Informe medico tratante obesidad</option>
            <option value="Formulario2">Informe medico tratante</option>
            <option value="Formulario3">Solicitud de incorporacion seguros de vida y salud colectivos</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')">Nuevo</button>
      </div>
    </form>
  </div>
</ng-template>
      

<div class="jumbotron" style="height: 800px;">
  <div class="row">
      <div class="mt-4 col-lg-6" style="margin-left: 2%;">
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
      </div>
      <div class="mt-4 col-lg-5">
          <button type="button" class="btn btn-secondary" style="float:right;" (click)="open(content)">Nuevo</button>
      </div>
  </div>
  <table class="table table-hover" style="margin-top: 2%;">
    <thead>
      <tr class="table-light">
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Archivo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr class="table-primary" *ngFor="let form of listForm" >
            <td>{{form.usuario}}</td>
            <td>{{form.date}}</td>
            <td>{{form.file}}</td>
            <td>
            <a (click)="editUser(form)">
                <i class="material-icons">mode_edit</i>
            </a>
            <a (click)="deleteUser(form._id, form.formulario)">
                <i class="material-icons">delete</i>
            </a>
            </td>
        </tr>
    </tbody>
  </table>
</div>